html,
body {
    text-align: left;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



img {
    max-width: 100%;
    height: auto;
}

/* Nav bar styling*/
.navbar {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgb(56, 7, 56);
    color: #F9F8F8;

}

.navbar-brand,
.nav-link,
.nav-item {
    font-size: 1.5rem;
    font-weight: 100;
}

.navbar-brand:hover {
    color: rgb(197, 166, 233);
}

#navbarContent {
    background-color: rgb(56, 7, 56);
}

/* Personal Header styling */
#personalHeader {
    margin-top: 20px;
    width: 100%;
    background-color: #7f5a91;
    color: #F9F8F8;
    padding: 5% 0;
    text-align: center;
    text-shadow: 1px 2px 5px #221838;
}

#personalHeader h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    margin-top: 50px;
}

/* Header Button styling For Personal Page */
button.HeaderButton {
    background-color: #ebb13e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
}

button.HeaderButton:hover {
    background-color: #d6920a;
    cursor: pointer;
}

/* H1 and H2 Styling */
h1 {

    background-color: #7f5a91;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    text-shadow: 1px 2px 5px #221838;
}

h2 {
    background-color: #7f5a91;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 20px;
    cursor: pointer;
    text-shadow: 1px 2px 5px #221838;
}

/* H3 Styling */
h3 {
    text-shadow: 0px 0px 1px #221838;
    cursor: pointer;
    color: #7f5a91;
    border-left: 4px solid #7f5a91;
    padding-left: 10px;
    margin-bottom: 10px;
}

/* Image Styling */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.Introduction h2 {
    font-size: 2.5rem;
    
}

/* Profile Photo Styling */
.profile-photo {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Heading Styles */
.AboutMe h2 {
    text-align: left;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.AboutMe h3 {
    font-size: 1.8em;
    color: #754f99;
    margin-top: 20px;
    text-decoration: underline;
}

/* Paragraph Styles */
.AboutMe p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #1f162b;
    margin-bottom: 20px;
}

/* Music List Styling */
#MusicList {
    list-style-type: square;
    padding-left: 40px;
    font-size: 1.1em;
    margin-top: 10px;
    color: #7f5a91;
}

#MusicList li {
    margin: 5px 0;
    transition: transform 0.2s, color 0.3s;
}

#MusicList li:hover {
    color: #fcbf49;
    transform: scale(1.05);
    cursor: pointer;
}

/* My Future Plans Section */
.FuturePlans {
    background-color: #f9f9f9;
    padding: 40px 20px;
}

.future-image {
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.future-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.future-content h2 {
    font-size: 2em;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.future-content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #221838;
    margin-bottom: 15px;
}


#travelbg {
    color: #ffffff;
    width: fit-content;
    border-radius: 3px;
    background-color: #f1c161;
}

#hrForMain {
    width: 80%;
    margin: 20px auto;
    height: 4px;
    background-color: #470a63;
    box-shadow: 0 2px 4px #310446;
    border: none;
    border-radius: 10px;

}

/* Social Media Footer*/
.social-icon {
    font-size: 30px;
    margin: 0 15px;
    color: #ebe8ee;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #fcbf49;
}

.social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer {
    width: 100%;
    margin-top: 50px;
    height: fit-content;
    background-color: rgb(56, 7, 56);
}

.FuturePlans {
    padding: 20px;
    background-color: #f7f7f7;
    margin: 0 auto;
    max-width: 1200px;
}

.Travel {
    padding: 20px;
    background-color: #f7f7f7;
    margin: 0 auto;
    max-width: 1200px;
}

.Hobbies {
    padding: 20px;
    background-color: #f7f7f7;
    margin: 0 auto;
    max-width: 1200px;
}

.AboutMe {
    padding: 20px;
    background-color: #f7f7f7;
    margin: 0 auto;
    max-width: 1200px;
}

.carousel-sm {
    width: 100%;
    margin-left: 10%;
}

#travelCarousel {
    max-width: 60%;
    margin: 0 auto;
}


#travelCarousel .carousel-inner img {
    max-width: 100%;
    height: auto;
}

.carouselText {
    border-radius: 8px;
    background-color: #ebb13e;
}

/* Larger screens (tablets and desktops) */
@media (min-width: 768px) {
    #headerh2 {
        margin-left: 10%;
    }

    .carousel-sm {
        width: 80%;
        margin: 0 auto;
    }

    #hobbyCarousel .carousel-inner .carousel-item img {
        width: 80%;
        margin: 0 auto;
    }


}

/* Smaller screens (phones, below 768px) */
@media (max-width: 767px) {
    .profile-photo {
        max-width: 200px;
    }

    .carousel-sm {
        width: 70%;

    }

    #hobbyCarousel .carousel-inner .carousel-item img {
        width: 100%;
    }

}