html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, rgb(56, 7, 56), #fcbf49);
    background-size: cover;
    background-attachment: fixed;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 1;

}

#intro-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: 0;
}

#intro {
    font-size: 150px;
    margin: 0;
    cursor: pointer;
    color: rgba(243, 242, 242, 0.952);
    animation-name: name-fade;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    position: relative;
    z-index: 1;

}
#intro:hover {

    color: rgb(255, 233, 159);
    text-shadow: 1px 3px 5px#f7a500;

}

@keyframes name-fade {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

#mainContent {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}


.navbar {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgb(56, 7, 56);
    color: #F9F8F8;

}

.navbar-brand,
.nav-link,
.nav-item {
    font-size: 1.5rem;
    font-weight: 100;
}

.navbar-brand:hover {
    color: rgb(197, 166, 233);
}

#navbarContent {
    background-color: rgb(56, 7, 56);
}


.timeContainer {
    width: 100%;
    height: 150px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
}

#flowerImg {
    border-radius: 12px;
    margin-bottom: 40px;
}

#hrForMain {
    width: 80%;
    margin: 20px auto;
    height: 4px;
    background-color: #470a63;
    box-shadow: 0 2px 4px #310446;
    border: none;
    border-radius: 10px;

}

#headerh2 {
    margin-left: 10%;
    width: 80%;
    text-align: center;
}


#dailyQuoteHeader {
    width: 100%;
    padding: 15px;
    text-shadow: 1px 2px 5px #c486009d;
    background-color: #fcbf49;
    color: #470a63;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}

.QuoteGen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    background-color: #4b1861;
    border-radius: 10px;
    padding: 60px;
    text-align: center;

}

#quoteText {
    font-size: 1.6rem;
    padding: 8%;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 5px rgb(255, 196, 0);

}

.quoteBtn {
    background-color: #fcbf49;
    color: #fff;

    font-size: 1.2rem;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.quoteBtn:hover {
    background-color: #f7a500;
    transform: scale(1.05);
}

.quoteBtn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(252, 191, 73, 0.7);
}

.social-icon {
    font-size: 30px;
    margin: 0 15px;
    color: #6b3585;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #fcbf49;
}

.social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Larger screens  */
@media (min-width: 768px) {
    .QuoteGen {
        justify-content: center;
        align-items: center;
        margin-top: 8%;
    }

    .quoteBtn {
        max-width: 300px;
    }
}

/* Smaller screens */
@media (max-width: 767px) {

    #dailyQuoteHeader {
        font-size: 1.5rem;
    }

    .QuoteGen {
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    #quoteText {
        width: 90%;
        max-width: 300px;
        font-size: 1.5rem;
    }

    .quoteBtn {
        width: 90%;
        max-width: 200px;
        padding: 10px;
        font-size: 1rem;
    }

}
